<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
version="4.0">
  <display-name>web04</display-name>
  <!-- 서블릿 선언 
	<servlet>
		<servlet-name>MemberList</servlet-name>
		<servlet-class>spms.servlets.MemberListServlet</servlet-class>
	</servlet> -->
	 <!-- 서블릿 URL 연결 
	<servlet-mapping>
		<servlet-name>MemberList</servlet-name>
		<url-pattern>/member/list</url-pattern>
	</servlet-mapping>
-->
<!-- 서블릿 선언
 <servlet>
	<servlet-name>MemberUpdateServlet</servlet-name>
	<servlet-class>spms.servlets.MemberUpdateServlet</servlet-class>
	servlet의 자식 엘리멘트 --> 
	<context-param> <!-- 서블릿 초기화 매개변수 설정 태그 -->
		<param-name>driver</param-name> <!-- 매개변수 이름 지정 -->
		<param-value>com.mysql.jdbc.Driver</param-value> <!-- 매개변수 값 지정 -->
	</context-param>
	<context-param> <!-- 매개변수 여러개 지정 서블릿 초기화 매개변수는 선언한 서블릿에서만 사용 가능 -->
				 <!-- spms.servlets.MemberUpdateServlet에서만 사용 가능 -->
		<param-name>url</param-name>
		<param-value>jdbc:mysql://localhost/study_db</param-value>		
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>study</param-value>
	</context-param>
	<context-param>
	<param-name>password</param-name>
	<param-value>study1111!</param-value>
	</context-param>
<!-- </servlet> -->

<!-- 서블릿 url 연결 
<servlet-mapping>
	<servlet-name>MemberUpdateServlet</servlet-name>
	<url-pattern>/member/update</url-pattern>
</servlet-mapping> -->


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>